<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>Yclean...if we can do it for you</title>
<meta name="description" content="Snowflake an HTML5 responsive Website template by Little Neko">
<meta name="author" content="Little NEKO">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS
  ================================================== -->
<!-- Bootstrap  -->
<link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<!-- web font  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,800" rel="stylesheet" type="text/css">
<!-- plugin css  -->
<link rel="stylesheet" type="text/css" href="js-plugin/rs-plugin/css/settings.css" media="screen" />
<!-- icon fonts -->
<link type="text/css" rel="stylesheet" href="font-icons/custom-icons/css/custom-icons.css">
<link type="text/css" rel="stylesheet" href="font-icons/custom-icons/css/custom-icons-ie7.css">
<!-- Custom css -->
<link type="text/css" rel="stylesheet" href="css/layout.css">
<link type="text/css" id="colors" rel="stylesheet" href="css/colors.css">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
<script src="js/modernizr-2.6.1.min.js"></script>
<!-- Favicons
  ================================================== -->
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
<style type="text/css">
#cssawards {
	position:fixed;
	top:120px;
	left:0px;
	z-index:21;
}
#cssawards a {
	width:95px;
	height:50px;
	text-indent:-8000px;
	display:block;
	background:url('/light/images/cssa-ribbons-13.png') no-repeat;
}


</style>
</head>
<body >
<!-- Primary Page Layout 
 ================================================== -->
<!-- globalWrapper -->
<div id="globalWrapper">
  <!--<div id="cssawards"> <a href="http://cssawards.net/snowflake-bootstrap-website-template" target="_blank">Snowflake</a> </div>-->
  <!-- header -->
  <header id="mainHeader" class="clearfix" >
    <!--<div class="navbar navbar-fixed-top">
      <div class="navbar-inner preHeader">
        <div class="container">
          <div class="row-fluid">
            <div class="span6 clearfix">
              <ul class="quickMenu">
                <li><a href="template-site-map.html" class="linkLeft">Site map</a></li>
                <li><a href="template-about.html">About us</a></li>
                <li><span id="logged">Hello John Doe <span class="badge badge-info">3</span></span></li>
              </ul>
            </div>
            <div class="span6 clearfix">
              <ul class="socialNetwork">
                <li><a href="#" class="icon-rss socialIcon tips"  title="Our rss feed"><span>rss feed</span></a></li>
                <li><a href="#" class="icon-facebook socialIcon tips"  title="follow us on Facebook"><span>facebook</span></a></li>
                <li><a href="#" class="icon-twitter-bird socialIcon tips"  title="follow us on Twitter"><span>twitter</span></a></li>
                <li><a href="#" class="icon-gplus socialIcon tips"  title="follow us on Google +"><span>google +</span></a></li>
                <li><a href="#" class="icon-instagram socialIcon tips"  title="follow us on Instagram"><span>instagram</span></a></li>
                <li><a href="#" class="icon-linkedin socialIcon tips"  title="follow us on Linkedin"><span>linkedin</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <div class="navbar navbar-fixed-top "  >
      <div class="navbar-inner" >
        <div class="container"> <a href="index.html" class="brand"><img src="images/main-logo.png" alt="snowflake"/></a>
          <nav id="mainMenu">
            <ul>
              <li><a href="index.html" class="firstLevel active" >Home</a>
               
              </li>
              <li> <a href="our-services.html" class="firstLevel">Our Services</a>
                
              </li>
              <li> <a href="Our-Philosophy.html" class="firstLevel">Our Philosophy</a>
               
              </li>
              <li><a href="yclean-explained.html" class="firstLevel">Yclean Explained</a>              </li>
              <li><a href="your-yclean.html" class="firstLevel">Your Yclean</a>              </li>
                       
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- header -->
  <!-- slider -->
  <section  id="sliderWrapper">
    <!-- background slider dark bloc -->
    <div class="fullwidthbanner-container">
      <div class="fullwidthbanner" >
        <ul>
          <li data-transition="fade" data-slotamount="1"  data-masterspeed="900"> <img src="images/slider/rs/yclean.jpg" alt="slide" />
            <!--<div class="caption lfr" data-x="0" data-y="20" data-speed="2000" data-start="1000" data-easing="easeOutExpo"><img src="images/slider/rs/hexagones.png" alt="slide" class="ie8PngFix"/></div>
            <div class="caption lfl" data-x="0" data-y="250" data-speed="900" data-start="200" data-easing="easeOutBack"><img src="images/slider/rs/snowflake.png" alt="slide" class="ie8PngFix"/></div>
            <div class="caption lfl" data-x="100" data-y="330" data-speed="900" data-start="200" data-easing="easeOutBack"><img src="images/slider/rs/snowflake2.png" alt="slide" class="ie8PngFix"/></div>
            <div class="caption lfr" data-x="110" data-y="70" data-speed="700" data-start="700" data-easing="easeOutExpo"><img src="images/slider/rs/ipad1.png" alt="slide" class="ie8PngFix"/></div>
            <div class="caption lfl" data-x="400" data-y="240" data-speed="500" data-start="900" data-easing="easeOutExpo"><img src="images/slider/rs/iphone.png" alt="slide" class="ie8PngFix"/></div>-->
            
			<div class="caption sft small_text" data-x="609" data-y="100" data-speed="300" data-start="600" data-easing="easeOutExpo" >
              <h2>...if we can do it for you</h2>
            </div>
            <div class="caption sfb" data-x="610" data-y="164" data-speed="300" data-start="700" data-easing="easeOutExpo">
              <h3> Clear, clean dummy text </h3>
            </div>
            <div class="caption sfl" data-x="610" data-y="226" data-speed="500" data-start="1000" data-easing="easeOutBounce" >
              <p>lorem ipsum dummy text</p>
            </div>
			
            <div class="caption sfb" data-x="610" data-y="264" data-speed="900" data-start="2000" data-easing="easeOutExpo" > <a href="#" target="_blank" class="btn">Read More</a> </div>
          </li>
         <!-- <li data-transition="3dcurtain-vertical" data-slotamount="1"> <img src="images/textures/grey9.jpg" alt="slide"/>
            <div class="caption lfl" data-x="470" data-y="120" data-speed="900" data-start="200"  data-end="3000" data-easing="easeOutBack"><img src="images/slider/rs/header_styles_top.png" alt="slide" class="ie8PngFix"/></div>
            <div class="caption lfl small_text" data-x="70" data-y="120" data-speed="300" data-start="700" data-end="2900" data-easing="easeOutExpo" >
              <h2>5 header style options</h2>
            </div>
            <div class="caption lfl" data-x="71" data-y="184" data-speed="500" data-start="900" data-end="2800" data-easing="easeInExpo" >
              <h3><i class="icon-right-circle"></i>Make your website unique!</h3>
            </div>
            <div class="caption lfl" data-x="0" data-y="150" data-speed="700" data-start="3300" data-easing="easeOutExpo"><img src="images/slider/rs/header_styles_footer.png" alt="slide" class="ie8PngFix"/></div>
            <div class="caption sft small_text" data-x="480" data-y="100" data-speed="300" data-start="3400" data-easing="easeOutExpo" >
              <h2>5 footer style options</h2>
            </div>
            <div class="caption lfr" data-x="481" data-y="164" data-speed="500" data-start="3600" data-easing="easeInExpo" >
              <h3><i class="icon-right-circle"></i>Easy customization!</h3>
            </div>
            <div class="caption sfb" data-x="480" data-y="230" data-speed="900" data-start="3700" data-easing="easeOutExpo" > <a href="#" target="_blank" class="btn">Read More</a> </div>
          </li>
          <li data-transition="slideup" data-slotamount="2"><img src="images/textures/grey6.jpg" alt="slide"/>
            <div class="caption sft small_text" data-x="100" data-y="100" data-speed="300" data-start="300" data-easing="easeOutExpo" >
              <h2 id="font_icons_slider">120+ font icons<br/>
                <i class="icon-ajust"></i><i class="icon-arrows-cw"></i><i class="icon-barcode"></i><i class="icon-ajust"></i><i class="icon-arrows-cw"></i><i class="icon-barcode"></i><i class="icon-plus"></i> <br />
                <i class="icon-minus"></i> <i class="icon-up"></i> <i class="icon-right"></i> <i class="icon-down"></i> <i class="icon-home"></i> <i class="icon-pause"></i><br />
                <i class="icon-right-dir"></i> <i class="icon-down-dir"></i><i class="icon-left-dir"></i><i class="icon-cloud"></i> <i class="icon-umbrella"></i><i class="icon-star"></i><br />
                <i class="icon-star-empty"></i><i class="icon-check"></i> <i class="icon-left-hand"></i> <i class="icon-heart"></i> <i class="icon-right-hand"></i> ...</h2>
            </div>
            <div class="caption lfr" data-x="609" data-y="124" data-speed="300" data-start="1000" data-easing="easeInExpo" >
              <h2>UI retina ready</h2>
            </div>
            <div class="caption lfr" data-x="610" data-y="188" data-speed="300" data-start="1100" data-easing="easeInExpo" >
              <h3><i class="icon-right-circle"></i>Sharp graphics!</h3>
            </div>
            <div class="caption lfr" data-x="610" data-y="254" data-speed="300" data-start="1200" data-easing="easeInExpo" >
              <h3><i class="icon-right-circle"></i>Easily expandable!</h3>
            </div>
          </li>
          <li data-transition="slidedown" data-slotamount="1"><img src="images/textures/grey8.jpg" alt="slide"/>
            <div class="caption lfr" data-x="120" data-y="130" data-speed="700" data-start="0" data-easing="easeOutExpo"><img src="images/slider/rs/slider_colors1.png" alt="slide" class="ie8PngFix"/></div>
            <div class="caption lfl" data-x="600" data-y="50" data-speed="700" data-start="0" data-easing="easeOutExpo"><img src="images/slider/rs/slider_colors2.png" alt="slide" class="ie8PngFix"/></div>
            <div class="caption lfr" data-x="200" data-y="35" data-speed="700" data-start="300" data-easing="easeInExpo" >
              <h2><i class="icon-right-circle"></i>Unlimited colors</h2>
            </div>
            <div class="caption sfl" data-x="400" data-y="220" data-speed="700" data-start="800" data-easing="easeInExpo" >
              <h2><i class="icon-right-circle"></i>20 skins included!</h2>
            </div>
          </li>
          <li data-transition="slideleft" data-slotamount="1"> <img src="images/textures/grey9.jpg" alt="slide"/>
            <div class="caption lfl" data-x="550" data-y="100" data-speed="900" data-start="0" data-easing="easeOutBack"><img src="images/slider/rs/cat.png" alt="slide" class="ie8PngFix"/></div>
            <div class="caption sft small_text" data-x="50" data-y="49" data-speed="300" data-start="200" data-easing="easeOutExpo" >
              <h2>Build with bootstrap</h2>
            </div>
            <div class="caption lfl" data-x="50" data-y="113" data-speed="500" data-start="300" data-easing="easeInExpo" >
              <h3><i class="icon-right-circle"></i>&nbsp;Sleek, intuitive, and powerful</h3>
            </div>
            <div class="caption lfl" data-x="50" data-y="179" data-speed="500" data-start="900" data-easing="easeInExpo" >
              <h3><i class="icon-right-circle"></i>&nbsp;Mobile-Friendly Development </h3>
            </div>
            <div class="caption lfl" data-x="50" data-y="245" data-speed="500" data-start="1100" data-easing="easeInExpo" >
              <h3><i class="icon-right-circle"></i>&nbsp;Dozens of shortcodes</h3>
            </div>
            <div class="caption sfb" data-x="50" data-y="311" data-speed="300" data-start="1800" data-easing="easeOutExpo" > <a href="#" target="_blank" class="btn">Read More</a> </div>
          </li>-->
		   <li data-transition="fade" data-slotamount="1"  data-masterspeed="900"> <img src="images/slider/rs/yclean1.jpg" alt="slide" />
		  <div class="caption sft small_text" data-x="609" data-y="100" data-speed="300" data-start="600" data-easing="easeOutExpo" >
              <h2>...Banner option 2</h2>
            </div>
            <div class="caption sfb" data-x="610" data-y="164" data-speed="300" data-start="700" data-easing="easeOutExpo">
              <h3> Clear, clean dummy text </h3>
            </div>         
			
            <div class="caption sfb" data-x="610" data-y="264" data-speed="900" data-start="2000" data-easing="easeOutExpo" > <a href="#" target="_blank" class="btn">Read More</a> </div>
          </li>
		  
		   <li data-transition="fade" data-slotamount="1"  data-masterspeed="900"> <img src="images/slider/rs/yclean2.jpg" alt="slide" />
		  <div class="caption sft small_text" data-x="609" data-y="100" data-speed="300" data-start="600" data-easing="easeOutExpo" >
              <h2>...Banner option 3</h2>
            </div>
            <div class="caption sfb" data-x="610" data-y="164" data-speed="300" data-start="700" data-easing="easeOutExpo">
              <h3> Clear, clean dummy text </h3>
            </div>         
			
            <div class="caption sfb" data-x="610" data-y="264" data-speed="900" data-start="2000" data-easing="easeOutExpo" > <a href="#" target="_blank" class="btn">Read More</a> </div>
          </li>
        </ul>
        <div class="tp-bannertimer"></div>
      </div>
    </div>
  </section>
  <!-- slider -->
  <!-- topBox -->
  <!--<section class="topBox color1">
    <div class="container">
      <div class="row">
        <div class="span4"> <a href="http://themeforest.net/item/snowflake-responsive-bootstrap-website-template/4474194?ref=Little-Neko" class="btn btn-large btn-inverse">Buy this template now!</a> </div>
        <div class="span8">
          <div class="topQuote">
            <h1> The snow goose need not bathe to make itself white.</h1>
            <p>Neither need you do anything but be <strong>yourself</strong>.</p>
          </div>
        </div>
      </div>
    </div>
  </section>-->
  <!-- topBox -->
  <!-- content -->
  <section id="content" class="home">
    <!--3 cols-->
    <section class="color1 slice">
      <div class="container">
        <div class="row">
          <div class="span4"> <a href="#" class="btn btn-large">CREATE AN ACCOUNT</a> </div>
          <div class="span4">
            <h2>Our Services</h2>
            <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio lacinia ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum auctor enim id lectus vehicula non iaculis mauris sollicitudin. Duis in ligula ligula, vel rutrum tortor. </p>
            <a class="btn btn-3d btnSmall" href="about-us.html">read more</a> </div>
          <div class="span4">
            <h2>Our Products</h2>
            <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio lacinia ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum auctor enim id lectus vehicula non iaculis mauris sollicitudin. Duis in ligula ligula, vel rutrum tortor. </p>
            <a class="btn btn-3d btnSmall" href="about-us.html">read more</a> </div>
        </div>
      </div>
    </section>
    <!--3 cols-->
    <!-- 3blocs + video focus -->
    <!--<section class="slice color2 roundedShadow">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="bulle bulleRight color4">
              <blockquote>Snowflake, a Premium Website Template that will help you buid your website in no time</blockquote>
              <div class="arrow"></div>
            </div>
          </div>
          <div class="span4">
            <div class="blocFocus color1">
              <h2>Our philosophy </h2>
              <div class="videoWrapper">
                <iframe src="http://player.vimeo.com/video/8432525?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="1280" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
              </div>
              <p class="credits"><a href="http://vimeo.com/8432525">Falling Snow</a> from <a href="http://vimeo.com/mattsfilms">Matt S</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
            </div>
          </div>
          <div class="span4">
            <h2>Our services </h2>
            <div id="accordion2" class="accordion">
              <div class="accordion-group">
                <div class="accordion-heading"> <a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle active" id="link__inpage_95"> <i class="icon-minus"></i> Consulting </a> </div>
                <div class="accordion-body collapse in" id="collapseOne">
                  <div class="accordion-inner"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consectetur elit et urna tempor ut bibendum dui cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading"> <a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle" id="link__inpage_96"> <i class="icon-plus"></i> Graphic design </a> </div>
                <div class="accordion-body collapse" id="collapseTwo">
                  <div class="accordion-inner"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consectetur elit et urna tempor ut bibendum dui cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading"> <a href="#collapsethree" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle" id="link__inpage_97"> <i class="icon-plus"></i> Cooking </a> </div>
                <div class="accordion-body collapse" id="collapsethree">
                  <div class="accordion-inner"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consectetur elit et urna tempor ut bibendum dui cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </div>
                </div>
              </div>
            </div>
          </div>
          <!-- row-->
        </div>
        <!-- container-->
      </div>
    </section>
    <!-- 3blocs + video focus -->
    <!-- download -->
    <!--<section class="slice mb40">
      <div  class="container">
        <div class="row-fluid callToActionBoxed color4">
          <div class="span7">
            <div class="ctaText">
              <h3>Fully responsive, easy customization!</h3>
              <p><strong>Snowflake Website Template </strong> is perfect for simple and clean presentation of your business, from personal blogs to small business and corporate websites.</p>
            </div>
          </div>
          <div class="span5">
            <div class="btnWrapper color3"> <a href="http://themeforest.net/item/snowflake-responsive-bootstrap-website-template/4474194?ref=Little-Neko" class="btn btn-inverse btn-large" title="Buy This awesome theme"><i class="icon-down-circled"></i>Buy this template now!</a> </div>
          </div>
        </div>
      </div>
    </section>-->
    <!-- download -->
  </section>
  <!-- content -->
  <!-- footer -->
  <footer class="footer2">
    <!--<section class="newsletter slice color4">
      <div class="container">
        <div class="row">
          <div class="span3">
            <h2>Our mailing list<br />
              <small>Keep in touch with us</small></h2>
          </div>
          <form method="post" action="#" id="newsletterform" data-mailchimp="xtrue">
            <div class="span3">
              <label for="newsletter-name">Enter your name</label>
              <input type="text" class="input-field" id="newsletter-name" name="newsletter-name" value="">
            </div>
            <div class="span3">
              <label for="newsletter-email">Enter your email</label>
              <input type="text" class="input-field" id="newsletter-email" name="newsletter-email" value="">
            </div>
            <div class="span3"> <a id="btn-newsletter" href="#" title="Subscribe now" class="btn">Subscribe now</a> </div>
          </form>
        </div>
      </div>
    </section>-->
	
	
	
	
	
	
  <!--<section id="mainFooter">
     <div id="backToTop">
        <div class="container" > <a href="#" class="iconWrapper"><i class="icon-up-open"></i></a> </div>
      </div>
      <div class="container" id="footer">
       <div class="row">
          <div class="span3 testimonialWidget"> <img src="images/main-logo.png" alt="latest Little Neko news" />
            <p><a href="http://www.little-neko.com" title="Little Neko, website template creation">Little Neko</a> is a web design and development studio. We build responsive HTML5 and CSS3 templates, integrating best web design practises and up-to-date web technologies to create great user experiences. We love what we do and we hope you too ! </p>
          </div>
          <div class="span3 projectWidget">
            <h3><span>Latest Projects</span></h3>
            <ul class="media-list">
              <li class="media"> <a class="pull-left" href="#"> <img class="media-object" src="images/works/footer-work1.jpg" alt="latest Little Neko news"> </a>
                <div class="media-body">
                  <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio. </p>
                </div>
              </li>
              <li class="media"> <a class="pull-left" href="#"> <img class="media-object" src="images/works/footer-work2.jpg" alt="latest Little Neko news"> </a>
                <div class="media-body">
                  <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="span3 newsWidget">
            <h3><span>Latest News</span></h3>
            <ul>
              <li>
                <h4><i class="icon-calendar"></i><span>2013/03/21</span> Lauching a new project</h4>
                <p> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae<br />
                  <a href="#">read more</a></p>
              </li>
              <li>
                <h4><i class="icon-calendar"></i><span>2013/03/23</span> Check out our new premium website template: Snowflake</h4>
                <p> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Cura<br />
                  <a href="#">read more</a></p>
              </li>
            </ul>
          </div>
          <div class="span3 contactWidget">
            <h3><span>Contact us</span></h3>
            <address>
            <strong>Little NEKO</strong>
            <p> <i class="icon-location"></i>&nbsp;77 Mass. Ave., E14/E15<br/>
              Cambridge, MA 02139-4307 USA <br />
              <i class="icon-phone"></i>&nbsp;615.987.1234 <br />
              <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:little@little-neko.com">little@little-neko.com</a> </p>
            </address>
          </div>
        </div>
      </div>
    </section>-->
	
	
	
	
	
	<section class="center-align">	
 		   <div class="container">	
   <div class="link"> <a href="about-us.html">About Us</a> <a href="terms-and-conditions.html">Terms and conditions</a> <a href="faq.html">FAQ</a> <a href="contact-us.html">Contact Us</a> 
   <a href="sitemap.html">Sitemap</a>    </div>

    </div>
	</section>
	
    <section  id="footerRights" class="fotter-background-color" >
      <div class="container">
      
          <div class="span12">
            <div class="innerBg">
              <p>Copyright © 2013 Yclean. All rights reserved.</p>
            </div>
          </div>
       
      </div>
    </section>
  </footer>
  <!-- footer -->
</div>
<!-- global wrapper -->
<!-- End Document 
  ================================================== -->
<script type="text/javascript" src="js-plugin/respond/respond.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>
<!-- third party plugins  -->
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap-carousel-ie.js"></script>
<script type="text/javascript" src="js-plugin/pretty-photo/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js-plugin/easing/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js-plugin/hoverdir/jquery.hoverdir.js"></script>
<!-- jQuery Revolution Slider  -->
<script type="text/javascript" src="js-plugin/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="js-plugin/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- Custom  -->
<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>
