<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>Yclean...if we can do it for you</title>
<meta name="description" content="Snowflake an HTML5 responsive Website template by Little Neko">
<meta name="author" content="Little NEKO">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS
  ================================================== -->
<!-- Bootstrap  -->
<link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<!-- web font  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,800" rel="stylesheet" type="text/css">
<!-- plugin css  -->
<link rel="stylesheet" type="text/css" href="js-plugin/rs-plugin/css/settings.css" media="screen" />
<!-- icon fonts -->
<link type="text/css" rel="stylesheet" href="font-icons/custom-icons/css/custom-icons.css">
<link type="text/css" rel="stylesheet" href="font-icons/custom-icons/css/custom-icons-ie7.css">
<!-- Custom css -->
<link type="text/css" rel="stylesheet" href="css/layout.css">
<link type="text/css" id="colors" rel="stylesheet" href="css/colors.css">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
<script src="js/modernizr-2.6.1.min.js"></script>
<!-- Favicons
  ================================================== -->
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
<style type="text/css">
#cssawards {
	position:fixed;
	top:120px;
	left:0px;
	z-index:21;
}
#cssawards a {
	width:95px;
	height:50px;
	text-indent:-8000px;
	display:block;
	background:url('/light/images/cssa-ribbons-13.png') no-repeat;
}


</style>
</head>
<body >
<!-- Primary Page Layout 
 ================================================== -->
<!-- globalWrapper -->
<div id="globalWrapper">
  <!--<div id="cssawards"> <a href="http://cssawards.net/snowflake-bootstrap-website-template" target="_blank">Snowflake</a> </div>-->
  <!-- header -->
  <header id="mainHeader" class="clearfix" >
   
    <div class="navbar navbar-fixed-top "  >
      <div class="navbar-inner" >
        <div class="container"> <a href="index.html" class="brand"><img src="images/main-logo.png" alt="snowflake"/></a><nav id="mainMenu">
            <ul>
              <li><a href="index.html" class="firstLevel active" >Home</a>              </li>
              <li> <a href="our-services.html" class="firstLevel">Our Services</a>              </li>
              <li> <a href="Our-Philosophy.html" class="firstLevel">Our Philosophy</a>              </li>
              <li><a href="yclean-explained.html" class="firstLevel">Yclean Explained</a>              </li>
              <li><a href="your-yclean.html" class="firstLevel">Your Yclean</a>              </li>
                       
            </ul>
          </nav>
        </div>
      </div>
    </div>
	
  </header>
  <!-- header -->
  <!-- slider -->
  <section  id="sliderWrapper">
    <!-- background slider dark bloc -->
    <div class="fullwidthbanner-container">
      <div class="fullwidthbanner" >
        <ul>
          <li data-transition="fade" data-slotamount="1"  data-masterspeed="900"> <img src="images/slider/rs/yclean.jpg" alt="slide" />
            
            <div class="caption sft small_text" data-x="609" data-y="100" data-speed="300" data-start="600" data-easing="easeOutExpo" >
              <h2>...if we can do it for you</h2>
            </div>
            <div class="caption sfb" data-x="610" data-y="164" data-speed="300" data-start="700" data-easing="easeOutExpo">
              <h3> Clear, clean dummy text </h3>
            </div>
            <div class="caption sfl" data-x="610" data-y="226" data-speed="500" data-start="1000" data-easing="easeOutBounce" >
              <p>lorem ipsum dummy text</p>
            </div>
            <div class="caption sfb" data-x="610" data-y="264" data-speed="900" data-start="2000" data-easing="easeOutExpo" > <a href="#" target="_blank" class="btn">Read More</a> </div>
          </li>
         
          <li data-transition="fade" data-slotamount="1"  data-masterspeed="900"> <img src="images/slider/rs/yclean1.jpg" alt="slide" />
            <div class="caption sft small_text" data-x="609" data-y="100" data-speed="300" data-start="600" data-easing="easeOutExpo" >
              <h2>...Banner option 2</h2>
            </div>
            <div class="caption sfb" data-x="610" data-y="164" data-speed="300" data-start="700" data-easing="easeOutExpo">
              <h3> Clear, clean dummy text </h3>
            </div>
            <div class="caption sfb" data-x="610" data-y="264" data-speed="900" data-start="2000" data-easing="easeOutExpo" > <a href="#" target="_blank" class="btn">Read More</a> </div>
          </li>
          <li data-transition="fade" data-slotamount="1"  data-masterspeed="900"> <img src="images/slider/rs/yclean2.jpg" alt="slide" />
            <div class="caption sft small_text" data-x="609" data-y="100" data-speed="300" data-start="600" data-easing="easeOutExpo" >
              <h2>...Banner option 3</h2>
            </div>
            <div class="caption sfb" data-x="610" data-y="164" data-speed="300" data-start="700" data-easing="easeOutExpo">
              <h3> Clear, clean dummy text </h3>
            </div>
            <div class="caption sfb" data-x="610" data-y="264" data-speed="900" data-start="2000" data-easing="easeOutExpo" > <a href="#" target="_blank" class="btn">Read More</a> </div>
          </li>
        </ul>
        <div class="tp-bannertimer"></div>
      </div>
    </div>
  </section>

  <section id="content" class="home">
  <!--3 cols-->
  <section class="color1 slice">
    <div class="container">
      <div class="row">
        <div class="span11 h-margin2">
          <h1>Algemene voorwaarden van Yclean B.V.
(hierna te noemen: ”Yclean”), statutair gevestigd te Plaats
</h1>
          
        </div>
        <div class="span10">
          <h2>Artikel 1. Algemeen</h2>
          <ol class="b-margin">
            <li>De algemene voorwaarden zijn toepasselijk op – en maken een integraal onderdeel uit van – alle overeenkomsten en aanbiedingen tot overeenkomsten die Yclean aangaat in het kader van de uitvoering van haar onderneming, te weten: een autoschoonmaakbedrijf, alsmede op alle daarop betrekking hebbende offertes die door
Yclean worden uitgebracht.
</li>
            <li>Van deze algemene voorwaarden kan slechts worden afgeweken bij Schriftelijke overeenkomst. Mondelinge afspraken binden slechts voor zover deze bevoegdelijk en Schriftelijk door Yclean aan Opdrachtgever zijn bevestigd.</li>
            <li>Yclean wijst de toepasselijkheid van algemene voorwaarden waarnaar door Opdrachtgever mocht zijn verwezen, uitdrukkelijk van de hand.</li>
            <li>Indien één of meerdere bepalingen in deze algemene voorwaarden geheel of gedeeltelijk nietig zijn of op enig moment vernietigd zouden worden, dan blijft het overige in deze algemene voorwaarden bepaalde onverminderd van toepassing. Partijen zullen in </li>
			<li>Als bijlage bij deze algemene voorwaarden kan een vertaling in de Engelse taal zijn gevoegd. Deze bijlage is uitsluitend ter informatie bijgevoegd. De Nederlandse versie is toepasselijk en prevaleert in het geval van onduidelijkheid, onvolkomenheid of tegenstrijdigheid door de vertaling.</li>
			<li>In deze leveringsvoorwaarden wordt verstaan onder: 
				<ul>
					<li>Yclean: de opdrachtnemer en/of degene die de opgedragen Werkzaamheden uitvoert; </li>
					<li>Opdrachtgever: degene aan wie een aanbieding of offerte is gericht of met wie een overeenkomst is gesloten;</li>
					<li>Werkzaamheden: alle door Yclean verrichtte diensten ten behoeve van Opdrachtgever, waaronder uitdrukkelijk begrepen alle schoonmaakdiensten aan de auto(’s) die Opdrachtgever in eigendom of in gebruik heeft.</li>
					<li>Schriftelijk: hieronder wordt uitdrukkelijk ook “via elektronische weg”, “digitaal”, “online” “per email” verstaan.</li>
			  </ul>
			</li>
          </ol>
        </div>

        
       <div class="span10">
          <h2>Artikel 2. Aanbiedingen en offertes</h2>
          <ol class="b-margin">
            <li>Aanbiedingen en offertes van Yclean zijn vrijblijvend, tenzij in de offerte een termijn voor aanvaarding is gesteld.
</li>
            <li>In afwijking van het bepaalde in artikel 6:225 lid 2 Burgerlijk Wetboek is Yclean niet gebonden aan in de aanvaarding door Opdrachtgever voorkomende afwijkingen van 
Yclean’s aanbieding of offerte.
</li>
            <li>Door Yclean in aanbiedingen en offertes opgegeven prijzen zijn, tenzij anders vermeld, gebaseerd op uitvoering in normale werktijden en inclusief onkosten, BTW en andere heffingen van overheidswege. </li>
            <li>4Yclean kan niet aan haar aanbiedingen of offertes worden gehouden, indien Opdrachtgever redelijkerwijs heeft begrepen of had moeten begrijpen dat de aanbieding of offerte, een kennelijke vergissing of verschrijving bevat. </li>
			
			
          </ol>
        </div>
		
		<div class="span10">
          <h2>Artikel 3. Totstandkoming van de overeenkomst</h2>
          <ol class="b-margin">
            <li>De overeenkomst tussen Yclean en Opdrachtgever komt tot stand op het moment dat Yclean een opdracht tot autoschoonmaakdiensten aanvaardt, of opgedragen Werkzaamheden mondeling, dan wel Schriftelijk aanvaardt, of met de uitvoering van de overeenkomst op een voor Opdrachtgever kenbare wijze aanvangt.
</li>
            <li>Indien een overeenkomst mondeling tot stand is gekomen, zal Yclean onverwijld hierna een Schriftelijke bevestiging van de opdracht aan Opdrachtgever sturen, welke opdrachtbevestiging door Opdrachtgever per ommegaande ondertekend zal worden geretourneerd.
</li>
            <li>Indien een overeenkomst via elektronische weg wordt aangegaan (“koop op afstand”), verzendt Yclean binnen XX uur (invullen wat realistisch is) een email aan Opdrachtgever, met daarin een opdrachtbevestiging, alsmede een opsomming van de volgende gegevens:
				<ul>
					<li>de adresgegevens alsmede het bezoekadres van Yclean;</li>
					<li>de kenmerken / wijze van uitvoering van de door Yclean te verrichten Werkzaamheden;</li>
					<li>de prijs met inbegrip van alle belastingen;</li>
					<li>de wijze van betaling;</li>
					<li>de duur van de overeenkomst;</li>
					<li>de algemene voorwaarden van Yclean. </li>
				</ul>
			Gedurende 7 dagen na ontvangst van deze opdrachtbevestiging, heeft Opdrachtgever het recht de koop op afstand zonder opgave van redenen te ontbinden. Indien Opdrachtgever van zijn recht tot ontbinding gebruik wenst te maken, dient hij hiertoe een email te sturen aan <a href="mailto:ontbindingkoopopafstand@yclean.com">ontbindingkoopopafstand@yclean.com</a>. Indien Yclean in het kader van de overeenkomst reeds een betaling van Opdrachtgever heeft ontvangen, zal zij dit per ommegaande, doch in ieder geval binnen 30 dagen na de ontbinding terugbetalen.			</li>
            <li>De overeenkomst tussen Yclean en Opdrachtgever wordt aangegaan voor onbepaalde tijd, tenzij partijen Schriftelijk anders overeenkomen. </li>
			
			
          </ol>
        </div>
		<div class="span10">
          <h2>Artikel 4. (Uitvoering van) de overeenkomst</h2>
          <ol class="b-margin">
            <li>Yclean bepaalt de wijze waarop een verleende opdracht wordt uitgevoerd. Yclean voert de haar opgedragen Werkzaamheden zorgvuldig en naar beste weten en kunnen uit. Er is slechts sprake van een inspanningsverbintenis van Yclean.</li>
            <li>De in de offertes en overeenkomsten van Yclean genoemde termijnen voor door 
Yclean te verrichten prestaties zijn globaal en slechts informatief; overschrijding ervan geeft Opdrachtgever geen aanspraak op schadevergoeding of ontbinding.
</li>
            <li>Wijzigingen van en aanvullingen op de overeenkomst binden Yclean uitsluitend voor zover deze Schriftelijk zijn overeengekomen</li>
            <li>Nietigheid van een of meer bepalingen van de overeenkomst leidt niet tot nietigheid van de gehele overeenkomst. Partijen zullen in overleg treden om vervangende regelingen te treffen voor nietige bepalingen, waarbij de strekking daarvan zoveel mogelijk behouden dient te blijven. </li>
			
			
          </ol>
        </div>
		<div class="span10">
          <h2>Artikel 5. Geheimhouding en persoonsgegevens</h2>
          <ol class="b-margin">
            <li>Partijen zijn verplicht tot geheimhouding van alle informatie die zij in het kader van het sluiten en het uitvoeren van de overeenkomst van elkaar hebben verkregen, en zijn verplicht daartoe noodzakelijke maatregelen te treffen, waaronder het opleggen van een gelijke verplichting aan personen van wie zij zich ter uitvoering van de overeenkomst bedienen.</li>
            <li>De persoonsgegevens die Opdrachtgever aan Yclean verstrekt in het kader van de opdracht, worden door Yclean opgenomen in een geautomatiseerd systeem en worden vertrouwelijk en in overeenstemming met alle toepasselijke privacy regelgeving behandeld. Persoonsgegevens worden uitsluitend gebruikt voor het juist doen uitvoeren van de opdracht. Persoonsgegevens worden niet aan een derde ter beschikking gesteld, tenzij dit noodzakelijk is om de opdracht uit te voeren of Yclean hiertoe op grond van een wettelijk voorschrift gehouden is.
</li>
            <li>Door het verstrekken van een e-mailadres stemt Opdrachtgever er mee in dat dit
e-mailadres wordt gebruikt voor het juist doen uitvoeren van de opdracht en het door Yclean verzenden van nieuws en andere mogelijk voor Opdrachtgever interessante informatie. Indien Opdrachtgever geen prijs (meer) stelt op nieuws en/of informatie die niet direct gerelateerd is aan een opdracht, kan Opdrachtgever zich afmelden door middel van een link onder aan een email van Yclean of door het verzenden van een email met dit verzoek aan <a href="mailto:info@yclean.com">info@yclean.com</a>.</li>
            
			
			
          </ol>
        </div>
		<div class="span10">
          <h2>Artikel 6. Inschakeling van derden</h2>
          <ol class="b-margin">
            <li>Het is Yclean toegestaan bij de uitvoering van de overeenkomst derden in te schakelen. De toepasselijkheid van de artikelen 7:404 en 7:407 lid 2 BW wordt uitdrukkelijk uitgesloten.</li>
            			
          </ol>
        </div>
		<div class="span10">
          <h2>Artikel 7. Prijzen</h2>
          <ol class="b-margin">
            <li>Een opdracht wordt door Yclean aanvaard en overeengekomen en Werkzaamheden worden door Yclean verricht, tegen vergoeding van de overeengekomen prijs of, bij gebreke daarvan, de door Yclean gebruikelijk gehanteerde prijzen, inclusief BTW, onkosten en andere heffingen van overheidswege</li>
            <li>De prijzen van Yclean zullen in het geval van langdurige opdrachten jaarlijks worden gewijzigd. Yclean zal in dat geval de wijziging van haar prijzen mededelen aan Opdrachtgever. Opdrachtgever gaat reeds nu voor alsdan akkoord met de jaarlijkse wijziging van de prijzen van Yclean, behoudens en voor zover de wijziging van deze prijzen onredelijk zou zijn. Iedere verhoging van de prijzen met minder dan 10 % wordt geacht niet onredelijk te zijn. Indien Opdrachtgever, ingeval van een onredelijke verhoging van de prijzen van Yclean, niet binnen een termijn van veertien (14) dagen vanaf kennisgeving door Yclean reclameert, wordt Opdrachtgever geacht stilzwijgend met de gewijzigde prijzen akkoord te zijn gegaan.
</li>
           
            
			
			
          </ol>
        </div>
		<div class="span10">
          <h2>Artikel 8. Betaling, rente en incassokosten</h2>
          <ol class="b-margin">
            <li>Alle betalingen dienen zonder enige aftrek of verrekening uiterlijk op de dag van aanvang van de overeenkomst (in geval van betaling van een jaar vooruit) dan wel uiterlijk op de 1e dag van de betreffende kalendermaand (in geval van betaling per maand) te geschieden,  tenzij automatische incasso ten laste van Opdrachtgever is overeengekomen.</li>
            <li>Als Opdrachtgever in een betreffende kalendermaand
				<ul>
					<li>de met Yclean overeengekomen Werkzaamheden niet afneemt, door geen afspraak voor een schoonmaakbeurt in te plannen, dan wel</li>
					<li>de ingeplande schoonmaakbeurt binnen 24 uur voor het afgesproken tijdstip afzegt, dan wel</li>
					<li>zijn/haar auto op het afgesproken tijdstip niet op de afgesproken plaats parkeert,
is Opdrachtgever desondanks de hiervoor overeengekomen prijs aan Y Clean verschuldigd
</li>
				</ul>
</li>
<li>Indien Opdrachtgever niet binnen de overeengekomen termijnen betaalt dan wel een automatische incasso niet mogelijk blijkt of een geïnde automatische incasso wordt gestorneerd, is Opdrachtgever, zonder dat daartoe enige ingebrekestelling is vereist, van rechtswege in verzuim en is Opdrachtgever over het volledige aan Yclean verschuldigde bedrag een rente verschuldigd van 1% per kalendermaand, waarbij een deel van een kalendermaand als een volledige maand wordt gerekend.</li>
<li>Yclean is voorts gerechtigd alle gerechtelijke en buitengerechtelijke incassokosten, gemaakt na het verstrijken van de betalingstermijn, aan Opdrachtgever in rekening te brengen.</li>
           
            
			
			
          </ol>
        </div>
		<div class="span10">
          <h2>Artikel 9. Overmacht, opschorting en ontbinding</h2>
          <ol class="b-margin">
            <li>Yclean is niet gehouden tot het nakomen van enige verplichting jegens Opdrachtgever indien hij daartoe gehinderd wordt als gevolg van overmacht. </li>
			<li>Onder overmacht wordt in deze Algemene Voorwaarden verstaan: elke tekortkoming van Yclean die niet is te wijten aan haar schuld, noch krachtens de wet, rechtshandeling of in het verkeer geldende opvattingen voor haar rekening komt, alsmede, voor zover daaronder niet reeds begrepen, terrorisme, oorlog(sgevaar), oproer, werkstaking, uitsluiting, transportmoeilijkheden, brand, storm, weersinvloeden, niet aan haar te verwijten gebrek aan hulpmiddelen, onderdelen of arbeidskrachten (onder meer ten gevolge van ziekte), transportstoornissen, stroomuitval, overheidsmaatregelen en andere ernstige storingen in het bedrijf van Yclean of haar leveranciers, waar Yclean geen of slechts beperkte invloed op kan uitoefenen.</li>
            <li>Indien Opdrachtgever enige verplichting jegens Yclean toerekenbaar niet nakomt, in staat van faillissement wordt verklaard, surséance van betaling of schuldsanering aanvraagt, enig beslag op diens goederen wordt gelegd, in liquidatie komt te verkeren of wordt ontbonden, heeft dit tot gevolg dat: 
				<ul>
					<li>elke vordering van Yclean op Opdrachtgever onmiddellijk opeisbaar wordt; </li>
					<li>Opdrachtgever op eerste verzoek van Yclean verplicht is binnen een daartoe door Yclean gestelde redelijke termijn een door Yclean gevraagde zekerheid te stellen voor het nakomen van haar verplichtingen;</li>
					<li>Yclean gerechtigd is iedere nakoming van haar verplichtingen op te schorten zolang een niet-nakomen door Opdrachtgever voortduurt, danwel – te hare keuze – de overeenkomst te ontbinden, onverminderd haar recht op volledige schadevergoeding.
</li>
				</ul>
</li>
            </ol>
        </div>
		<div class="span10">
          <h2>Artikel 10. Reclames en klachtafhandeling</h2>
          <ol class="b-margin">
            <li>Opdrachtgever dient de schoongemaakte auto te onderzoeken, zodra de schoonmaakbeurt is uitgevoerd. Een reclame met betrekking tot de door Yclean verrichte Werkzaamheden, dient digitaal (per email of via het klachtformulier op de website van Yclean) binnen 48 uur na de datum van de verrichte Werkzaamheden, dan wel binnen 48 uur na de ontdekking van het gebrek indien Opdrachtgever aantoont dat hij het gebrek redelijkerwijs niet eerder kon ontdekken, aan Yclean kenbaar te worden gemaakt. Opdrachtgever dient Yclean in de gelegenheid te stellen de aan de reclamatie ten grondslag liggende klacht te (doen) onderzoeken
</li>
            <li>Een reclame als in het eerste lid bedoeld, schort de betalingsverplichting van Opdrachtgever niet op
</li>
            
            <li>In geval van een terecht uitgebrachte reclame heeft Yclean de keuze tussen aanpassing van de in rekening gebrachte kosten, het kosteloos (gedeeltelijk) opnieuw verrichten van de afgekeurde Werkzaamheden of het geheel of gedeeltelijk niet (meer) uitvoeren van de opdracht tegen een restitutie naar evenredigheid van door Opdrachtgever reeds vooruit betaald kosten.</li>
			<li>Bij een niet-tijdig gedane reclame vervalt een eventueel recht van Opdrachtgever op een aanpassingen van de verschuldigde kosten of kosteloos herstel.</li>
			<li>Klachten in het kader van de door Yclean verrichte Werkzaamheden of andere klachten in het kader van de overeenkomst tussen Yclean en Opdrachtgever, kunnen door Opdrachtgever aan Yclean kenbaar worden gemaakt door verzending van een email aan de Klantenservice van Yclean op het e-mailadres:<a href="mailto: klantenservice@yclean.com"> klantenservice@yclean.com</a> dan wel door telefonisch contact op te nemen met de Klantenservice op het telefoonnummer: INVULLEN. Yclean spant zich in om iedere klacht binnen 5 werkdagen na ontvangst ervan af te handelen.</li>
			
			
          </ol>
        </div>
		<div class="span10">
          <h2>Artikel 11. Aansprakelijkheid</h2>
          <ol class="b-margin">
            <li>De aansprakelijkheid van Yclean is beperkt tot hetgeen in het vervolg van dit artikel is bepaald.
</li>
            <li>Yclean is nimmer aansprakelijk voor diefstal van, of beschadiging aan, tijdens de schoonmaakbeurt in de auto aanwezige voorwerpen</li>
            
            <li>Yclean kan uitsluitend aansprakelijk zijn voor directe schade. Alle aansprakelijkheid van Yclean voor indirecte schade, zoals voor bedrijfsschade, gederfde winst, stagnatie en andere indirecte schade, alsmede schade als gevolg van aansprakelijkheid jegens derden, is uitgesloten.</li>
			<li>Indien Yclean geen aanspraak kan maken op bovengenoemde beperkingen van aansprakelijkheid, is de aansprakelijkheid van Yclean, voor zover deze door haar (aansprakelijkheids)verzekering wordt gedekt, beperkt tot het bedrag van de door de verzekeraar gedane uitkering. Indien de verzekeraar in enig geval niet tot uitkering overgaat of schade niet door de verzekering wordt gedekt, is de aansprakelijkheid van Yclean beperkt tot maximaal € 10.000,-- (zegge tienduizend Euro).</li>
			<li>De in dit artikel opgenomen beperkingen van aansprakelijkheid gelden niet indien de schade van Opdrachtgever het gevolg is van opzet of bewuste roekeloosheid van de tot de bedrijfsleiding behorende medewerkers van Yclean of ondergeschikten van 
Yclean.
</li>
			
			
          </ol>
        </div>
		<div class="span10">
          <h2>Artikel 12. Vrijwaring</h2>
          <ol class="b-margin">
            <li>Opdrachtgever is gehouden Yclean te vrijwaren respectievelijk schadeloos te stellen ter zake van alle aanspraken van derden tot vergoeding van schade, waarvoor de aansprakelijkheid van Yclean in deze voorwaarden in de verhouding met Opdrachtgever is uitgesloten.
</li>
            
			
			
          </ol>
        </div>
		<div class="span10">
          <h2>Artikel 13. Toepasselijk recht en geschillen</h2>
          <ol class="b-margin">
            <li>Op alle overeenkomsten, aanbiedingen tot overeenkomsten en offertes, waarop deze voorwaarden geheel of gedeeltelijk van toepassing zijn, is Nederlands recht van toepassing. De toepasselijkheid van het Weens Koopverdrag is uitgesloten.</li>
			<li>Alle geschillen die mochten ontstaan naar aanleiding van een overeenkomst, aanbieding tot overeenkomst of offerte, waarop de onderhavige voorwaarden geheel of ten dele van toepassing zijn, of naar aanleiding van nadere overeenkomsten welke een uitvloeisel zijn van zodanige overeenkomst, zullen bij uitsluiting worden voorgelegd aan de bevoegde rechter te Amsterdam, tenzij dwingend rechtelijke wetsbepalingen anders meebrengen. </li>
            
			
			
          </ol>
        </div>
      </div>
    </div>
  </section>
 
</div>
<!-- container-->
</div>
</section>

</section>
<!-- content -->
<!-- footer -->
<footer class="footer2">
 
  <section class="center-align">
    <div class="container">
      <div class="link"> <a href="about-us.html">About Us</a> <a href="terms-and-conditions.html">Terms and conditions</a> <a href="faq.html">FAQ</a> <a href="contact-us.html">Contact Us</a> 
   <a href="sitemap.html">Sitemap</a>    </div>
    </div>
  </section>
  <section  id="footerRights" class="fotter-background-color" >
    <div class="container">
      <div class="span12">
        <div class="innerBg">
          <p>Copyright © 2013 Yclean. All rights reserved.</p>
        </div>
      </div>
    </div>
  </section>
</footer>
<!-- footer -->
</div>
<!-- global wrapper -->
<!-- End Document 
  ================================================== -->
<script type="text/javascript" src="js-plugin/respond/respond.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>
<!-- third party plugins  -->
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap-carousel-ie.js"></script>
<script type="text/javascript" src="js-plugin/pretty-photo/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js-plugin/easing/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js-plugin/hoverdir/jquery.hoverdir.js"></script>
<!-- jQuery Revolution Slider  -->
<script type="text/javascript" src="js-plugin/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="js-plugin/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- Custom  -->
<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>
